.cards__item {
	max-width: calc((920px - 200px)/3);
	margin-right: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.cards__item:nth-child(3n) {
	margin-right: 0px;
}
